{% extends "layout.html" %}

{% block title %}
 
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to chai's Django project</h1>

<h2>
    {% if form.instance.pk %}
    Edit tweet
    {% else %}
    Create a Tweet
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="form">   {% comment %}enctype isliye becoz hamara form images bhi accept krrha hai{% endcomment %}
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning" type=Submit> Submit </button>
    </form>
    <a href="{% url 'tweet_list' %}" class="btn btn-primary">Back to tweet list</a>
</h2>

{% endblock  %}
